<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sticker API Demo - docs</title>
  </head>
  <body>
    <h3>Sticker API Documentation</h3>
    <p>The Sticker API receives a JSON request containing image:</p>
    <ul>
      <li>imgbase64 - input image data using base64</li>  
    </ul>
    <p>The Sticker API returns a JSON response containing:</p>
    <ul>
      <li>code - 200 means success</li>
      <li>message - success or error information</li>
      <li>data - {sticker:output image data using base64,emotion: the image emotion}</li>
    </ul>
  </body>
</html>
